<<<<<<< HEAD
body
{
    background-color: beige;
}

h1,h2
{
    color: green;
}

table
{
background-color: white;
}

.navegacao a
{
    color: darkgoldenrod;
    text-decoration: none;
}
=======

>>>>>>> 1642388c35b68450de8069c63a4a515c9866fd1f
