{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bernardo Pavan Currículo</title>
    <link rel="stylesheet" href="{% static 'curriculo/css/bernardo_curriculo.css' %}">

</head>


<body>

    <h1>Currículo</h1>
    
    
<img src="{% static 'curriculo/img/Perfil Bernardo.png' %}" alt="Foto de Bernardo Pavan">



<p> 
 Nome: Bernardo Pavan de Azevedo
 Idade: 18 anos
 Curso: Engenharia da Computação - PUC-Rio
 </p>
<p>
Informações de Contato:
</p>
        <ul>
        <li>Email: bpavanazevedo@gmail.com</li>
	    
	    <li>Telefone: +55 (21) 1234 - 4321</li>
       
	    <li>
    <a href="https://br.linkedin.com/in/bernardo-pavan-637a83377">Linkedinn</a>
        </li> 
    </ul>

<h2>
    Navegação
</h2>
<nav>   
<ul class = "navegacao">

<li>
    <a href="#resumo">Resumo</a>
</li>

<li>
    <a href = "#habilidades">Habilidades</a>
</li>

<li>
    <a href = "#materias">Tabela de Materias</a>
</li>


</nav>

<section id="resumo">
<h2>Resumo</h2>

<p>
    Estudante de segundo período em Engenharia da Computação na PUC-Rio. 
</p>
</section>

<section id="habilidades">
<h2> Habilidades </h2>

<p>
Experiencia com python, C, html e css. Prática com modelagem de dados. Bom em dinamicas de grupo e apresentação de trabalhos.
</p>
</section>

<section id="materias">
<table>
    <thead> 
        <tr>
            <th>
                Matérias com alto desenpenho
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Matéria</td>
            <td> mod prog  </td>
            <td> prog c  3 </td>
            <td> Proj Sust </td>
            <td> proj soft 3 </td>
        </tr>
        <tr>
            <td> Código </td>
            <td> CTC 1234  </td>
            <td> INF </td>
            <td> ENG </td>
            <td> ENG </td>
        </tr>
        <tr>
            <td>Professor</td>
            <td> Claudia  </td>
            <td> Paulo </td>
            <td> Luis Fernando </td>
            <td> Alexandre </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Período</td>
            <td> 25.1  </td>
            <td> 25.2 </td>
            <td> 25.1 </td>
            <td> 25.2 </td>
        </tr>
    </tfoot>
</section>


</table>

<section id="Idiomas">
<h2>
Idiomas de Proficiencia
</h2>
<ul>
<li>Portugues (nativo)</li>
<li>Ingles (fluente)</li>
<li>Alemão (avancado)</li>
</ul>
</section>












</body>
<footer>
<a href = "{% static 'curriculo/index.html' %}">Currículo Astronauta Spiff</a>

</footer>
</html>